PORT=8080
EUREKA_SERVER_URL=http://localhost:8761/eureka/
COGNITO_ISSUER_URI=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_example
COGNITO_JWK_SET_URI=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_example/.well-known/jwks.json
COGNITO_CLIENT_ID=your_cognito_app_client_id
COGNITO_CLIENT_SECRET=your_cognito_app_client_secret
AWS_REGION=us-east-1
